<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.epicfitproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".iterface.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".iterface.RegisterActivity" />
        <activity android:name=".iterface.MainMenuActivity" />
        <activity android:name=".iterface.ActivitiesActivity" />
        <activity android:name=".iterface.GoalActivity" />
        <activity android:name=".iterface.AthleteActivity" />
        <activity android:name=".iterface.ExerciseActivity">
            <uses-permission android:name="android.permission.INTERNET" />
        </activity>
        <activity android:name=".iterface.Statistics" />
        <activity android:name=".iterface.ListOFExercisesActivity" />
        <activity android:name=".iterface.AddExerciseProperties"></activity>
    </application>

</manifest>