<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.epicfitproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/fit"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".UI.LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.RegisterActivity" />
        <activity android:name=".UI.MainMenuActivity" />
        <activity android:name=".UI.ActivitiesActivity" />
        <activity android:name=".UI.GoalActivity" />
        <activity android:name=".UI.AthleteActivity" />
        <activity android:name=".UI.ExerciseActivity">
            <uses-permission android:name="android.permission.INTERNET" />
        </activity>
        <activity android:name=".UI.Statistics" />
        <activity android:name=".UI.ListOFExercisesActivity" />
        <activity android:name=".UI.AddExerciseProperties" />
        <activity android:name=".ActiveGoals"></activity>
    </application>

</manifest>